<%= render partial: "shared/admin_nav" %>
<div class="ma_back">	
	<div class="row">
		<% @teacher.each do |fn| %>
			<ul>
				<li>
					<%= fn.full_name %><br><%= fn.email %>
				</li>
			</ul>
		<% end %>
  </div>
</div>