<div class="ma_back">	
	<div class="row">
		<div class="ma_head">
			<h1 class="ma_title">CTJ<br>Madrichim</h1>
		</div>
	</div>
	<div class="row">
		<%= link_to "Back To Dashboard", root_url, :class => "button" %>
	</div>
	<table class="row">
		<thead>
			<tr>
				<td>Non-Returning</td>
				<td>Name</td>
				<td>Time Stamp</td>
			</tr>
		</thead>
		<tbody>
			<% @teen_term.each do |fn| %>
			<tr>
				<td><%= link_to fn.id, teen_term_url(fn.id) %></td>
				<td><%= fn.user.full_name %></td>
				<td><%= fn.updated_at %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>