<div class="ma_back">	
	<div class="row">
		<div class="ma_head">
			<h1 class="ma_title">CTJ<br>Madrichim</h1>
		</div>
	</div>
	<div class="row ma_greet">
		<%= @teen.full_name %>
	</div>
	<div class="row">
		Placement: <%#= @teen_mid.placement %>
	</div>
	<div class="row">
		<%= link_to "Back to Dashboard", root_url, :class => "button" %>
	</div>
</div>