<div class="ma_back">	
	<div class="row">
		<div class="ma_head">
			<h1 class="ma_title">CTJ<br>Madrichim</h1>
		</div>
	</div>
	<div class="row ma_flashalert">
		<%= flash.alert %>
	</div>
	Be Right Back!  This site is temporarily down for updates!
</div>