<div class="ma_back">	
	<div class="row">
		<div class="ma_head">
			<h1 class="ma_title">CTJ<br>Madrichim</h1>
		</div>
	</div>
	<div class="row ma_greet">
		Dress Code
	</div>
	<div class="row">
		<ul>
			<li>Shoulders must be covered</li>
			<li>No low cut shirts</li>
			<li>Shoes must be closed toe or closed back (ie no flip flops)</li>
			<li>No underwear of any kind showing (on its own or through another article of clothing)</li>
			<li>Please keep clothing logos and prints appropriate for a synagogue</li>
			<li>Shorts and skirts must be longer than pinky length</li>
			<li>Clothing should always be appropriate for the activity you are participating in</li>
			<li>Men must wear kippot indoors (hats do not count as a headcovering indoors)</li>
		</ul>
	</div>
	<div class="row">
		<%= link_to "Back To Dashboard", root_url, :class => "small button" %>
	</div>
</div>