<%= render partial: "shared/teen_nav" %>
<div class="ma_back">	
	<div class="row ma_greet">
		Program Format
	</div>
	<div class="ma_program row">
		<div class=" large-10 large-offset-1 columns">
			<h2 class="ma_phead">Lesson Title</h2>
			<p class="ma_format">Time Estimate:</p>
			<p class="ma_format">Goal:</p>
			<p class="ma_format">Objectives:</p>
			<ul class="ma_format">Materials:
				<li> </li>
				<li> </li>
			</ul>
			<p class="ma_format">Hook:</p>
			<ol class="ma_format">Procedure:
				<li> </li>
				<li> </li>
				<li> </li>
			</ol>
			<p class="ma_format">Evaluation:</p>
		</div>
	</div>
	<div class="row">
		<%= link_to "Back to Dashboard", root_url, :class => "button" %>
	</div>
</div>