.ma_back{
	background-color: #fff;
	border: solid 2px #00d0ff;
	margin:15px;
	padding: 5px;
}
.ma_head{
	border: solid 3px #ff5100;
	margin: 10px;
	text-align: center;
	background-color: #fff;
	padding: 10px;
}
.ma_title{
	font-family: 'Goblin One', cursive;
	font-size: 60px;
	color: #001cff;
}
.heb{
	direction:rtl;
}
.ma_flashalert{
	text-align: center;
	font-size: 35px;
	font-family: 'Jacques Francois', serif;
	color: #001cff;
}
.ma_greet{
	font-size: 40px;
	text-align: center;
	font-family: 'Goblin One', cursive;
}
.ma_login{
	font-family: 'Jacques Francois', serif;
	font-size: 20px;
	text-align: center;
	margin: 15px;
}
.ma_signin{
	margin-bottom: 15px;
}
.ma_reset{
	margin-bottom: 15px;
}
.hide-text{
	display:none;
}
.ma_label{
	text-align: left;
}
.ma_welcome{
	text-align: center;
	font-size: 45px;
	font-family: 'Glass Antiqua', cursive;
}
.ma_weltext{
	font-family: 'Jacques Francois', serif;
	font-size: 20px;
	text-align: center;
}
.ma_design{
	text-align: center;
	font-family: 'Jacques Francois', serif;
	font-size: 10px;
}
